In [59]:
import pandas as pd
import numpy as np
import statistics as stats

In [60]:
# import data from CSV
data = pd.read_csv('student-data.csv')

# Question 1

In [61]:
# calculate the mean for each subject
math_mean = data['Math'].mean()
science_mean = data['Science'].mean()
reading_mean = data['Reading'].mean()
history_mean = data['History'].mean()

print(f" Math mean: {math_mean}\n Science mean: {science_mean}\n Reading mean: {reading_mean}\n History mean: {history_mean}")

 Math mean: 11.928571428571429
 Science mean: 14.214285714285714
 Reading mean: 10.785714285714286
 History mean: 11.428571428571429

In [62]:
# calculate the median Math grade for all students
math_median = np.median(data['Math'])
math_median

11.0

In [63]:
# Calculate the mode for History
history_mode = stats.mode(data['History'])
history_mode

14.0

# Question 2

In [64]:
# Calculate the correlation between different subjects
# df.corr() blows up on strings, so we need to remove the student names
just_grades = ['Math', 'Science', 'Reading', 'History']
# now use df.corr to create the correlations
correlations = data[just_grades].corr()
correlations      #.unstack().sort_values() turns it into a list instead of table, but that doesn't really help

# find the strongest correlation that isn't just a subject to itself...?
# I can see that the strongest (inverse) correlation is Math & History (-.718358), but I can't figure out a reasonable way to determine it programmatically

             Math   Science   Reading   History
Math     1.000000  0.269494 -0.268562 -0.718358
Science  0.269494  1.000000 -0.527606 -0.358688
Reading -0.268562 -0.527606  1.000000  0.206794
History -0.718358 -0.358688  0.206794  1.000000

# Question 3

In [65]:
# create a desc_stats() function to calculate and print the mean, median, mode, max, min, range, variance, and SD for exam scores
scores = [24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]

def desc_stats():
    print(f"mean: {np.mean(scores)}")
    print(f"median: {np.median(scores)}")
    print(f"mode: {stats.mode(scores)}")
    print(f"max: {max(scores)}")
    print(f"min: {min(scores)}")
    print(f"range: {max(scores) - min(scores)}")
    print(f"variance: {sum((x - np.mean(scores)) ** 2 for x in scores) / len(scores)}")
    print(f"standard deviation: {(sum((x - np.mean(scores)) ** 2 for x in scores) / len(scores)) ** 0.5}")


desc_stats()

mean: 59.47826086956522
median: 60.0
mode: 60
max: 99
min: 5
range: 94
variance: 664.162570888469
standard deviation: 25.77135174740489

# Extended Challenge

#### The mean, median, and mode are all right around 60, which is D-F.  If the "average" grade is C, then the scores should be scaled upwards by about 15 points.